.button--color-blue {
    background-color: var(--color-blue) !important;
}


.button--color-red {
    background-color: var(--color-red) !important;
}

.button--color-yellow{
    background: var(--color-yellow) !important;
}

.button--color-vinotinto{
    background-color: var(--color-vinotinto) !important;
}

.button--color-grey {
    background-color: var(--color-grey) !important;
}

.button--color-orange{
    background-color: var(--color-orange) !important;
}

.button--color-black{
    background-color: var(--color-black) !important;
}

.button {
    padding: 0.5rem 1rem;
    color: white;
    background: transparent;
    border: none;
    border-radius: 5px;
}
.button--no-background {
    border: solid 2px var(--color-blue);
}
