.height-full {
    height: 100%;
}
:root {
    --color-blue: rgb(28, 103, 181);
    --color-red: rgb(229, 55, 43);
    --color-black: rgb(47, 47, 47);
    --color-grey: #5b5b5b;
    --color-grey-two: #979797;
    --color-light-red: rgb(255, 187, 182);
    --color-orange: rgb(229, 95, 43) ;
    --color-pink : rgb(255, 137, 156);
    --color-yellow: rgb(236, 236, 94) ;
    --color-vinotinto: #b41c38 ;
}
body {
    background: rgb(230, 230, 230) !important;
}

